body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

.new-order-form{
    width: 90%;
    flex: 1 1 50%;
    margin: 5px;
}

@media (max-width: 600px) {
    .new-order-form {
      flex-basis: 100%; /* Each form group takes 100% of the container width */
    }
  }

.order-input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.add-part-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.part-input {
    display: flex;
    margin-bottom: 10px;
}

.part-input input {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.part-input button {
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.new-order-submit {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}