
.dashboard-box{
    background-color : #000000;
    color: #179b1b;
    /* padding : 10px; */
    width : 500px;
    height : 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    border: 0px;
}

.root{
    background-color: #000000;
    color: #ffffff;
    height: 100%;
    width: 100%;
}

.item{
    padding:50px;
}

.item hover{
    background-color: black;
}

.new-order{
    background-color : rgb(212, 169, 16);
}